ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ea5b31;

}

li {
    font: 16px/20px Helvetica, Sans-Serif;
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: rgba(0, 0, 0, 0.7);

}
    
  img {
   position: relative; 
   width:100%;
   height:auto;
}  
    h1 { 
   position: absolute; 
   top: 200px; 
   padding-left: 0px
 
}
    p { 
   position: absolute; 
   font: 18px/20px Helvetica, Sans-Serif;
   top: 260px; 
   padding-left :0px
  
}
    
    
    h1 span { 
   color: white; 
   font: bold 50px/60px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 8px; 
}
    