/* The main styles file */
body {
	font: 16px arial, sans-serif;
}



ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}


nav {
	background-color: #ea5b31;
	height: 50px;
}

#div1 {
	height: 100px;
	/*background-color: #F9A825;*/
}

#div2 {
	height: 100px;
	background-color: rgb(51, 51, 51);
}