<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chefs Website</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home.css">
</head>


<body>
  <% include nav.ejs %>
 
  
  <img src="http://i.huffpost.com/gen/1977217/images/o-COOKING-facebook.jpg">
    
  <h1><span>Share your creativity</span></h1>
    
	<% include footer.ejs %>
</body>



</html>