<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chefs Website</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/home.css">
</head>


<body>
  <% include nav.ejs %>
 
  
  <img src="http://i.huffpost.com/gen/1977217/images/o-COOKING-facebook.jpg">
    
  <h1><span>Share your creativity</span></h1>
    
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ullam, tempore exercitationem voluptas deserunt culpa, eligendi nemo iste quas nisi ducimus cum sed earum est, laboriosam in cumque ipsum. Nihil ducimus corporis similique veniam nostrum, explicabo distinctio mollitia. Magnam quasi maiores, beatae illo explicabo aut, hic saepe numquam. Sapiente, mollitia.</h3>

</body>



</html>