<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/search">Recipes</a></li>
		
		<% if (user === null) {%>

			<li class="right"><a href="/signup">Signup</a></li>
			<li class="right"><a href="/login">Login</a></li>

		<% } else { %>

			<li><a href="/profile">Profile</a></li>
			<li><a href="/recipe-add">New Recipe</a></li>
			<li class="right"><a href="/logout">Logout</a></li>
		<% } %>
		
	</ul>
</nav>