<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">        
<% if (user !== null) { %>
	<input type="hidden" id="user_id" value="<%= user.id %>">
<% }  else { %>
	<input type="hidden" id="user_id" value="0">
<% } %>
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/search">Recipes</a></li>
		
		<% if (user === null) {%>

			<li class="right"><a href="/signup">Signup</a></li>
			<li class="right"><a href="/login">Login</a></li>

		<% } else { %>

			<li><a href="/profile">Profile</a></li>
			<li><a href="/recipe-add">New Recipe</a></li>
			<li class="right"><a href="/logout">Logout</a></li>
		<% } %>
		
	</ul>
</nav>