<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
	<title>Chef's profile</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/profile-chef.css">
</head>
<body>

	<% include nav.ejs %>

	<h1>Chef's information</h1>
	<hr/>
	
	<div class="chef">
		<div class="picture">
			<img src="http://lorempixel.com/256/256/cats" alt="Recipe's picture" >
		</div>

		<div class="info">
			<h3><%= user.username %></h3>
			<p><%= user.bio %></p>
			<h3>Social Media</h3>
			<ul>
				<% for(var i=0; i<5; i++) {%>
				<li> <a href="#">Link <%= i %></a> </li>
				<% } %>
			</ul>
		</div>

	</div>

	<br/>
	<br/>
	<br/>
	<br/>
	
	<h1>Recipes</h1>
	<hr/>
	

	<div class="recipe">
		
		<div class="picture">
			<img src="http://lorempixel.com/256/256/food" alt="Recipe's picture" >
		</div>
		
		<div class="info">
			<h2>Spaghetti Tomato</h2>
			<div>Ingredients: Tomato, Sauce, Sugar</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam distinctio, dolorum enim dicta vel doloremque obcaecati, sit quis quas. Consequatur cumque vel tempora tenetur iure quia quisquam nulla nisi harum culpa facilis dignissimos, assumenda et, doloremque voluptate quibusdam autem recusandae numquam est unde obcaecati at. Obcaecati ipsa, neque, ab voluptatum tempora iure ipsum. Quae dicta nisi, maxime odit possimus, et quisquam voluptate nesciunt quas tenetur voluptatum. Minus animi quod, quaerat, laboriosam id sit veniam amet. Ea magnam architecto voluptate aliquam autem ad ipsa debitis provident sequi. Corporis similique rerum pariatur sed quae, architecto totam consequatur vero delectus, praesentium cumque.
			</p>
		</div>

	</div>


	<div class="clear"></div>


	<div class="recipe">
		
		<div class="picture">
			<img src="http://lorempixel.com/256/256/food" alt="Recipe's picture" >
		</div>
		
		<div class="info">
			<h2>Spaghetti Tomato</h2>
			<div>Ingredients: Tomato, Sauce, Sugar</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam distinctio, dolorum enim dicta vel doloremque obcaecati, sit quis quas. Consequatur cumque vel tempora tenetur iure quia quisquam nulla nisi harum culpa facilis dignissimos, assumenda et, doloremque voluptate quibusdam autem recusandae numquam est unde obcaecati at. Obcaecati ipsa, neque, ab voluptatum tempora iure ipsum. Quae dicta nisi, maxime odit possimus, et quisquam voluptate nesciunt quas tenetur voluptatum. Minus animi quod, quaerat, laboriosam id sit veniam amet. Ea magnam architecto voluptate aliquam autem ad ipsa debitis provident sequi. Corporis similique rerum pariatur sed quae, architecto totam consequatur vero delectus, praesentium cumque.</p>
		</div>

	</div>


	<div class="clear"></div>


	<div class="recipe">
		
		<div class="picture">
			<img src="http://lorempixel.com/256/256/food" alt="Recipe's picture" >
		</div>
		
		<div class="info">
			<h2>Spaghetti Tomato</h2>
			<div>Ingredients: Tomato, Sauce, Sugar</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit totam distinctio, dolorum enim dicta vel doloremque obcaecati, sit quis quas. Consequatur cumque vel tempora tenetur iure quia quisquam nulla nisi harum culpa facilis dignissimos, assumenda et, doloremque voluptate quibusdam autem recusandae numquam est unde obcaecati at. Obcaecati ipsa, neque, ab voluptatum tempora iure ipsum. Quae dicta nisi, maxime odit possimus, et quisquam voluptate nesciunt quas tenetur voluptatum. Minus animi quod, quaerat, laboriosam id sit veniam amet. Ea magnam architecto voluptate aliquam autem ad ipsa debitis provident sequi. Corporis similique rerum pariatur sed quae, architecto totam consequatur vero delectus, praesentium cumque.</p>
		</div>

	</div>


	<div class="clear"></div>


</body>
<% include footer.ejs %>

</html>