<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Search</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/search.css">
	<!-- Javascript -->
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/search.js"></script>
</head>
<body>
	
	<% include nav.ejs %>

	<form>
	
		
		<div class="imgcontainer">
      <img src="/img/chef-clipart-chef-graphics-clipart-1.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <input type="text" placeholder="Write it Here" id="search-key" name="name" autocomplete="off" required>
      <input type="checkbox" name="orderby" value="posted_at"> sorted by date
      <button type="submit">Search</button>

      
			<div id="results">
				<!-- Results -->
			</div>

    </div>
    	

		
	</form>
	
	<% include footer.ejs %>

</body>
</html>
