/* The main styles file */
body {
	font: 16px Helvetica, Sans-Serif;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  color: #ea5b31;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ea5b31;

}

nav ul li {
  font: 16px/20px Helvetica, Sans-Serif;
  float: left;

}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

nav ul li.right {
	float: right;
}

nav ul li.right::after {
	clear: both;
}

input[type="submit"] {
  cursor: pointer;
}

button[type="submit"] {
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  color: #fff;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-list li {
	display: inline-block;
}


.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}


.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}